{% extends "admin/base_site.html" %}

{% block title %}password reset{% endblock %}

{% block content %}

<div class="row text-center vertical-middle-sm">

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<h1> Reset your password</h1>


<form method="post" class="form-horizontal" action=".">{% csrf_token %}

    <div class="form-group">
        <label  class="col-md-5 control-label text-right">New password</label>
        <div class="col-md-6 text-left">{{form.new_password1 }}</div>
    </div>

    <div class="form-group">
        <label  class="col-md-5 control-label text-right">Confirm password</label>
        <div class="col-md-6 text-left">{{form.new_password2 }}</div>
    </div>
    <input type="submit" value="Change my passwrd" class="btn btn-primary btn-lg">

</form>

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

</div>

{% endblock %}
