{% extends "base.html" %}

{% block titles %}
blog titles
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
    </div>
<div class="row">
    <div class="col-xs-12 col-md-8">
    <ul>
        {% for blog in blogs %}
            <li><a href="{{ blog.id}}">{{blog.title}}</a></li>
        {% endfor %}
    </ul>
    </div>
    <div class="col-xs-6 col-md-4">
      <h2>广告</h2>
        <p>first demo</p>
         <img width="200px" src="https://pic.ibaotu.com/01/16/92/48N888piCEtF.jpg-0.jpg">
    </div>
</div>
{% endblock %}
